<div class="branches-management">
    <!-- Search Section -->
    <div class="search-section">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          type="text"
          nz-input
          [(ngModel)]="searchName"
          placeholder="Nhập tên chi nhánh"
          (keyup.enter)="searchBranches()"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <button nz-button nzType="primary" (click)="searchBranches()">
          <i nz-icon nzType="search"></i>
          Tìm kiếm
        </button>
      </ng-template>
      <div class="button-group">
        <button nz-button (click)="resetSearch()">
          <i nz-icon nzType="reload"></i>
          Reset
        </button>
        <button nz-button nzType="primary" (click)="showModal()">
          <i nz-icon nzType="plus"></i>
          Thêm mới
        </button>
      </div>
    </div>
  
    <!-- Table Section -->
    <nz-table
      #branchesTable
      [nzData]="branches"
      [nzLoading]="isLoading"
      nzShowSizeChanger
      [nzScroll]="{ x: '800px' }"
    >
      <thead>
        <tr>
          <th [nzWidth]="'80px'">ID</th>
          <th>Tên chi nhánh</th>
          <th [nzWidth]="'160px'">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let branch of branchesTable.data">
          <td>{{ branch.id }}</td>
          <td>{{ branch.name }}</td>
          <td>
            <div class="action-buttons">
              <button nz-button nzType="primary" (click)="showModal(branch)">
                <i nz-icon nzType="edit"></i>
                Sửa
              </button>
              <button nz-button nzType="link" nzDanger (click)="deleteBranch(branch)">
                <i nz-icon nzType="delete"></i>
                Xóa
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  
    <!-- Modal Form -->
    <nz-modal
      [(nzVisible)]="isModalVisible"
      [nzTitle]="currentBranch.id ? 'Cập nhật chi nhánh' : 'Thêm mới chi nhánh'"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
    >
      <ng-container *nzModalContent>
        <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="24" [nzXs]="24" [nzSm]="6">Tên chi nhánh</nz-form-label>
            <nz-form-control [nzSpan]="24" [nzXs]="24" [nzSm]="18">
              <input nz-input [(ngModel)]="currentBranch.name" name="name" required />
            </nz-form-control>
          </nz-form-item>
        </form>
      </ng-container>
    </nz-modal>
  </div>